@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: black;
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

input {
    background-color: rgb(226, 226, 226);
    border: 0;
    border-radius: 10px;
    padding: 0.5rem;

}

body {
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100vw;
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul  li {
    margin-right: 2rem;
}

main {background-color: white; margin: 2rem;
padding: 2rem; border-radius: 2rem;
width: fit-content;
}

#signupform input {
    display: block;
    margin: 3rem 0;
}
#signupform button {
    display: block;
    margin-top: 3rem;
}